body{
    display: flex;
    flex-flow: column;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    transition: 0.5s;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 35px;
    font-weight: bold;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

.markText {
    width: 50%;
    height: 50%;
    font-size: 35px;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    border: 2px solid black;
    color: white;
    border-radius: 20px;
    padding: 7px;
    margin: 5px;
    background-color: rgb(61, 61, 61);
}

.markText:focus{
    border-color: rgb(173, 173, 173);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    transition: 0.2s;
}

.mark {
    /* display: flex; */
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    background: rgba(144, 238, 144, 0);
    color: white;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    font-size: 35px;
    margin: 10px;
    padding: 10px;
    /* transition: 0.2s; */
    animation: 0.7s show ease;
    align-self: center;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes showOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

button {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 10px;
    height: fit-content;
}

button:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

.buttons{
    margin: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-flow: column;
}

.place {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-self: center;
    align-items: center;
    /* border: 3px solid white; */
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 55%;
    top: 30%;
    font-size: 35px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.alert {
    position: absolute;
    align-self: center;
    top: 30px;
    background-color: rgba(0, 0, 0, 0.237);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    opacity: 0;
    display: none;
}

/* место где двигается кружок */
.switch{
    display: inline-block;
    position: relative;
    width: 73px;
    height: 40px; 
    margin-bottom: 5px;
}

/* чекбокс для работы (скрыт) */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* кружок */
.move {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff00;
    border-radius: 3rem;
    border: 3px solid rgb(255, 255, 255);
    transition: 0.3s;
    cursor: pointer;
}

/* еще кружок */
.move::before {
    position: absolute;
    content: '';
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid rgb(255, 255, 255);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.5rem;
    top: 2.2px;
    bottom: 0;
    left: 0.15rem;
    margin-right: 0.12rem;
    transition: 0.5s;

}

/* кружок до */
input:checked + .move {
    border: 3px solid rgb(0, 0, 0);
}

/* кружок после */
input:checked + .move::before{
    background: rgb(255, 255, 103);
    transform: translateX(2.1rem);
    border: 3px solid rgb(0, 0, 0);
}

.settings {
    width: 300px;
    position: absolute;
    flex-flow: column;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    display: none;
    right: 1%;
    top: 5%;
    z-index: -1;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.745);
    animation: show 0.7s;
    /* animation: showOut 0.7s; */
}

select { 
    width: 110px;
    height: 40px;
    font-size: larger;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    transition: 0.2s;
}

p {
    /* font-size: 25px; */
    /* color: red; */
    margin: 0px;
}

.p {
    color: rgb(206, 206, 206);
}

h3 {
    margin: 0px;
    margin-bottom: 5px;
}

.del {
    margin-left: 100px;
}

.divMain {
    display: flex;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
}

.delConf {
    top: 10%;
    align-self: center;
    /* position: absolute; */
    position: sticky;
    display: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.745);
    animation: show 0.7s;
    z-index: 2;
    font-size: larger;
}

.delConf button {
    font-size: large;
    padding: 5px;
    margin-bottom: 0%;
}   

button#deleteConf:hover {
    background-color: rgb(255, 104, 104);
    color: rgb(0, 0, 0);
}